<button class="btn btn-outline-dark" [routerLink]="['bug_reporting_form']">Create New <fa-icon [icon]="bugIcon"></fa-icon></button>
<table class=" table table-hover table-borderless">

  <thead class="thead-dark">
    <tr class="header-row">
      <td class="form-group" class="search-bar">
        <input class="form-control search-input" name="title" [(ngModel)]="titleSearch">
      </td>
      <td class="form-group" class="search-bar">
        <select class="form-control search-input" name="priority" [(ngModel)]="prioritySearch">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </td>
      <td class="form-group" class="search-bar">
        <select class="form-control search-input" name="reporter" [(ngModel)]="reporterSearch">
          <option></option>
          <option>QA</option>
          <option>PO</option>
          <option>DEV</option>
        </select>
      </td>
      <td class="form-group" class="search-bar">
        <!-- <input class="form-control search-input" name="date" type="datetime-local"  placeholder=" " [(ngModel)]="dateSearch"> -->
      </td>
      <td class="form-group" class="search-bar">
        <select class="form-control search-input" name="status" [(ngModel)]="statusSearch">
          <option></option>
          <option>Ready for testing</option>
          <option>Done</option>
          <option>Rejected</option>
        </select>
      </td>
      <td  class="search-bar"><button class="btn search-btn" type="submit" (click)="searchRequest()">Search</button></td>
      <td  class="search-bar"><button class="btn search-btn" type="reset" (click)="clearAndInitialize()">Initialize</button></td>
    </tr>

  </thead>
  <thead class="thead-dark">
    <tr class="header-row">
      <th id="title" scope="col" (click)="getHeader($event)">
        Title <fa-icon *ngIf="sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="priority" scope="col" (click)="getHeader($event)">
        Priority <fa-icon *ngIf="sortDesc[1] && counters[1]>0" [icon]="sortNumberDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[1] && counters[1]>0" [icon]="sortNumberUpIcon"></fa-icon>
      </th>
      <th id="reporter" scope="col" (click)="getHeader($event)">
        Reporter <fa-icon *ngIf="sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="createdAt" scope="col" (click)="getHeader($event)">
        Date Created <fa-icon *ngIf="counters[3]>0" [icon]="sortDateIcon"></fa-icon>
      </th>
      <th id="status" scope="col" (click)="getHeader($event)">
        Status <fa-icon *ngIf="sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of bugs" [class.highlight-first]="cameFromForm">
      <td class="td-data">{{ item.title }}</td>
      <td class="td-data">{{ item.priority }}</td>
      <td class="td-data">{{ item.reporter }}</td>
      <td class="td-data">{{ item.createdAt | date:"dd/MM/yyyy hh:mm:ss" }}</td>
      <td class="td-data">{{ item.status }}</td>
      <td><button class="btn-dark btn" (click)="editClicked(item)">Edit <fa-icon [icon]="bugIcon"></fa-icon></button></td>
      <td><button class="btn-danger btn" (click)="deleteBug(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <fa-icon class="page-btn" *ngIf="pageNumber>0" [icon]="pageBtnLeft" (click)="previousPage()"></fa-icon>
  <fa-icon class="page-btn" *ngIf="checkForNextPage" [icon]="pageBtnRight" (click)="nextPage()"></fa-icon>
</div>