.table {
    margin-top: 2%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0.15);
}

tr{
    opacity: 0.65;
    transition-duration: 0.2s;
}

tr:hover{
        opacity:1;
}
.header-row{
    opacity:1;
}
th:hover{
    color: lightblue;
    cursor: pointer;
    transition-duration: 0.3s;
}
.page-btn {
    font-size: 30px;
    margin: 6px;
}