<button class="btn btn-dark" [routerLink]="['bug_reporting_form']">Create New</button>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr class="header-row">
      <th id="title" scope="col" (click)="getHeader($event)">
        Title <fa-icon *ngIf="sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="priority" scope="col" (click)="getHeader($event)">
        Priority <fa-icon *ngIf="sortDesc[1] && counters[1]>0" [icon]="sortNumberDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[1] && counters[1]>0" [icon]="sortNumberUpIcon"></fa-icon>
      </th>
      <th id="reporter" scope="col" (click)="getHeader($event)">
        Reporter <fa-icon *ngIf="sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="createdAt" scope="col" (click)="getHeader($event)">
        Date Created <fa-icon *ngIf="counters[3]>0" [icon]="sortDateIcon"></fa-icon>
      </th>
      <th id="status" scope="col" (click)="getHeader($event)">
        Status <fa-icon *ngIf="sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of bugs">
      <td>{{ item.title }}</td>
      <td>{{ item.priority }}</td>
      <td>{{ item.reporter }}</td>
      <td>{{ item.createdAt }}</td>
      <td>{{ item.status }}</td>
      <td><button class="btn btn-dark" type="submit" (click)="editBug(item)">Edit</button></td>
      <td><button class="btn btn-dark" style="background-color: red;" type="submit" (click)="deleteBug(item)">Delete</button></td>
    </tr>
  </tbody>
</table>

<div class="text-center" id="pagingBtns" >
  <fa-icon [icon]="pagebtnLeft" class="page-btn" (click)="prevPage()"></fa-icon>


  <fa-icon [icon]="pageBtnRight" class="page-btn" (click)="nextPage()"></fa-icon>

</div>
