<button class="btn btn-dark" [routerLink]="['bug_reporting_form']">Create New</button>

<table class="table table-hover">


  <thead class="thead-dark">
    <tr class="header-row">
      <td class="form-group"><input class="form-control search-input" name="title" [(ngModel)]="titleSearch"></td>
      <td class="form-group"><select class="form-control search-input" name="priority" [(ngModel)]="prioritySearch">
          <option [ngValue]="null"></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select></td>
      <td class="form-group"><select class="form-control search-input" name="reporter" [(ngModel)]="reporterSearch">
          <option [ngValue]="null"></option>
          <option>QA</option>
          <option>PO</option>
          <option>DEV</option>
        </select></td>
      <td class="form-group"><input class="form-control search-input" name="date" type="datetime-local" placeholder=" "
          [(ngModel)]="dateSearch"></td>
      <td class="form-group"><select class="form-control search-input" name="status" [(ngModel)]="statusSearch">
          <option [ngValue]="null"></option>
          <option>Ready for testing</option>
          <option>Done</option>
          <option>Rejected</option>
        </select></td>
      <td><button class="btn search-btn" type="submit">Search</button></td>
      <td></td>
    </tr>
  </thead>




  <thead class="thead-dark">
    <tr class="header-row">
      <th id="title" scope="col" (click)="getHeader($event)">
        Title <fa-icon *ngIf="sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[0] && counters[0]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="priority" scope="col" (click)="getHeader($event)">
        Priority <fa-icon *ngIf="sortDesc[1] && counters[1]>0" [icon]="sortNumberDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[1] && counters[1]>0" [icon]="sortNumberUpIcon"></fa-icon>
      </th>
      <th id="reporter" scope="col" (click)="getHeader($event)">
        Reporter <fa-icon *ngIf="sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[2] && counters[2]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th id="createdAt" scope="col" (click)="getHeader($event)">
        Date Created <fa-icon *ngIf="counters[3]>0" [icon]="sortDateIcon"></fa-icon>
      </th>
      <th id="status" scope="col" (click)="getHeader($event)">
        Status <fa-icon *ngIf="sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalDownIcon"></fa-icon>
        <fa-icon *ngIf="!sortDesc[4] && counters[4]>0" [icon]="sortAlphabeticalUpIcon"></fa-icon>
      </th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of bugs">
      <td class="td-data">{{ item.title }}</td>
      <td class="td-data">{{ item.priority }}</td>
      <td class="td-data">{{ item.reporter }}</td>
      <td class="td-data">{{ item.createdAt | date: "dd/MM/yyyy hh:mm:ss" }}</td>
      <td class="td-data">{{ item.status }}</td>
      <td><button class="btn btn-dark" type="submit" (click)="editBug(item)">Edit</button></td>
      <td><button class="btn btn-dark" style="background-color: red;" type="submit"
          (click)="deleteBug(item)">Delete</button></td>
    </tr>
  </tbody>
</table>

<div class="text-center" id="pagingBtns">
  <fa-icon *ngIf="pageNumber>0" [icon]="pagebtnLeft" class="page-btn" (click)="prevPage()"></fa-icon>


  <fa-icon [icon]="pageBtnRight" class="page-btn" (click)="nextPage()"></fa-icon>

</div>