
#page-container {
  position: relative;
  padding-bottom: 300px;
  min-height: 100vh;
  width:100%;
}

#content-container {
  min-height: calc(100vh - 18.6rem);
}

#up {
  transform: rotate(90deg);

}

#down {
  transform: rotate(270deg);
  margin-left: -55px;

}

img {
  width: 150px;
  text-align: center;
  margin-top: 300px;
}
