<!-- Footer -->

<footer class="page-footer w-100 font-small bg-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-4 mx-auto text-center">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Team number 1</h5>

                <p>Welcome to our first Angular project where we implemented a bug reporting system.</p>

            </div>
            <!-- Grid column -->



            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-4 mx-auto text-center">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Team Members</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="font-weight-bolder">Konstantinos Giatrakis</p>
                    </li>
                    <li>
                        <p class="font-weight-bolder">Apostolos Karageorgopoulos</p>
                    </li>
                    <li>
                        <p class="font-weight-bolder">Alexandros Kontos</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-4 mx-auto text-center">

                <!-- Links -->
                <h5 class="font-weight-bold mt-3 mb-4">Find us on Linked<fa-icon [icon]="linkedinIcon"></fa-icon>
                </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/konstantinosgiatrakis/"
                            class="font-weight-bolder">Kostas</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/apostolis-karageorgopoulos/"
                            class="font-weight-bolder">Apostolis</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alexandros-kontos/" class="font-weight-bolder">Alexis</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/alexiskon/angular-project"> GitHub Repository</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->